<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/"><%= title %></a></h1>
    <p>Welcome to <%= title %></p>
    <p>
      Opciones:
      <ul>
        <li><a href="/reservations_options">Reservaciones</a></li>
        <li><a href="/zones">Zonas</a></li>
        <li><a href="/employee">Empleados</a></li>
        <li><a href="/settings">Configuraciones</a></li>
      </ul>
    </p>
  </body>
</html>
