<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Datos del estudiante
    </p>
    <form method="post">
      Nombre:<br>
      <input type="text" name="name"><br>
      <input type="submit" value="Crear">
    </form>
  </body>
</html>
