<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/"><%= title %></a></h1>
    <p>
      Opciones de creación de reservación
      <ul>
        <li><a href="/new_school">Nueva escuela</a></li>
        <li><a href="/schools">Escuela existente</a></li>
      </ul>
    </p>
  </body>
</html>
