<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Opciones de Reservaciones
      <ul>
        <li><a href="/new_reservation">Nueva reservaciones</a></li>
        <li><a href="/new_reservation">Ver reservaciones</a></li>
      </ul>
    </p>
  </body>
</html>
